# App
NODE_ENV=production
PORT=3001
APP_URL=https://fotos.seudominio.com
FRONTEND_URL=https://fotos.seudominio.com

# Database
DATABASE_URL=postgresql://photovault:SUA_SENHA_AQUI@localhost:5432/photovault?schema=public

# Auth - GENERATE WITH: openssl rand -hex 32
JWT_SECRET=SUBSTITUA_POR_UM_HASH_DE_64_CARACTERES_HEX
JWT_REFRESH_SECRET=SUBSTITUA_POR_OUTRO_HASH_DE_64_CARACTERES_HEX
COOKIE_SECRET=SUBSTITUA_POR_MAIS_UM_HASH_DE_64_CARACTERES_HEX
ARGON2_MEMORY_COST=19456
ARGON2_TIME_COST=2
ARGON2_PARALLELISM=1

# Admin seed
ADMIN_NAME=Admin
ADMIN_EMAIL=admin@seudominio.com
ADMIN_PASSWORD=SenhaForte123!

# Upload
UPLOAD_PATH=./uploads
MAX_FILE_SIZE=20971520

# Logs
LOG_LEVEL=warn

# SMTP (opcional)
SMTP_HOST=smtp.seudominio.com
SMTP_PORT=587
SMTP_USER=no-reply@seudominio.com
SMTP_PASS=SUA_SENHA_SMTP
